<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Friends App</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet" />
  <link href="./assets/index.css" rel="stylesheet" />
</head>

<body>
  <div id="wrap">
    <div class="header">
      <h1>friends<span>Buu</span>k</h1>
      <div class="subheader"><span>with</span><span id="counter">0</span><span>friends</span></div>
    </div>
    <div class="content">
      <table id="friendTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <div class="footer">friendsBuuk is part of the buu family ©2023</div>
  </div>
  <script>
    (function () {
      const counterElem = document.getElementById("counter");

      // Store the initial friends fetched by Axios
      let initialFriends = <%- JSON.stringify(friends) %>;

      // Store the previous friends for comparison
      let previousFriends = initialFriends;

      function animateValue(obj, start, end, duration) {
        let startTimestamp = null;
        const step = (timestamp) => {
          if (!startTimestamp) startTimestamp = timestamp;
          const progress = Math.min((timestamp - startTimestamp) / duration, 1);
          obj.innerHTML = Math.floor(progress * (end - start) + start);
          if (progress < 1) {
            window.requestAnimationFrame(step);
          }
        };
        window.requestAnimationFrame(step);
      }

      function fetchFriends() {
        fetch('/friends')
          .then(response => response.json())
          .then(friends => {
            const friendTable = document.getElementById('friendTable');
            const tbody = friendTable.getElementsByTagName('tbody')[0];

            // Compare the previous friends with the current friends
            const newFriends = friends.filter(friend => !previousFriends.some(prevFriend => prevFriend.username === friend.username));

            if (newFriends.length > 0) {
              // Append new rows for the new friends
              newFriends.forEach(function (friend) {
                const row = document.createElement('tr');
                row.innerHTML = `
                            <td>${friend.name}</td>
                            <td>${friend.username}</td>
                            <td>${friend.email}</td>
                          `;
                row.classList.add('fade-in');

                tbody.insertBefore(row, document.querySelector('#friendTable tbody tr:first-of-type')); // Add to the top of the list
                // tbody.appendChild(row);  // Add to the bottom of the list

                // Update counter
                animateValue(counterElem, previousFriends.length, previousFriends.length + newFriends.length, 5000);
              });

              // Trigger reflow to apply the fade-in animation immediately
              void friendTable.offsetWidth;
            }

            // Update the previous friends with the current friends
            previousFriends = friends;
          })
          .catch(error => console.error('Error:', error));
      }

      // Append rows for the initial friends fetched by Axios with fade-in animation
      const friendTable = document.getElementById('friendTable');
      const tbody = friendTable.getElementsByTagName('tbody')[0];

      initialFriends.forEach(function (friend, index) {
        const row = document.createElement('tr');
        row.innerHTML = `
                    <td>${friend.name}</td>
                    <td>${friend.username}</td>
                    <td>${friend.email}</td>
                  `;
        row.classList.add('fade-in'); // Apply fade-in class for animation
        row.style.animationDelay = `${index * 0.1}s`; // Delay each row's animation
        tbody.appendChild(row);
      });

      document.querySelector('h1 span').addEventListener('mouseover', function () {
        if (!this.classList.contains('wobble')) this.classList.add('wobble');
      })
      document.querySelector('h1 span').addEventListener('mouseout', function () {
        this.classList.remove('wobble');
      })

      // Animate initial loading
      animateValue(counterElem, 0, initialFriends.length, 2500);

      // Fetch friends every 5 seconds
      setInterval(fetchFriends, 5000);
    })();
  </script>
</body>
</html>
