body {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
}

#wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  flex: 1 1 50%;
}

#counter {
  font-weight: 700;
  margin: 0 0.4em;
  font-size: 1.3em;
}

.header {
  flex: 0 1 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 32px;
}
.header .subheader {
  font-size: 1.3em;
}
.header h1 {
  color: #ec811c;
  padding-top: 32px;
  font-size: 3.3em;
}
.header h1 span {
  color: #2a2837;
  font-variant: all-small-caps;
}

.footer {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: rgba(42, 40, 55, 0.44);
  font-size: 0.85em;
}

tr:nth-child(even) {
  background: #ec811c;
}

td {
  padding: 6px 12px;
}
td:nth-of-type(3) {
  line-break: anywhere;
}

thead {
  background: #c4bdb5;
}

.wobble {
  display: inline-block;
  animation: wobble-buu 0.8s both;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes wobble-buu {
  0%, 100% {
    transform: translateX(0%) rotate(0deg);
    transform-origin: 50% 50%;
    scale: 1;
  }
  15% {
    transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    transform: translateX(15px) rotate(6deg);
  }
  45% {
    transform: translateX(-15px) rotate(-3.6deg);
    scale: 2;
  }
  60% {
    transform: translateX(9px) rotate(2.4deg);
  }
  75% {
    transform: translateX(-6px) rotate(-1.2deg);
    scale: 1;
  }
}

/*# sourceMappingURL=index.css.map */
